
.my-masonry-grid {
    display: flex;
    margin-left: -16px; /* Ajusta el margen a tus necesidades */
    width: auto;
    gap: 2px;
    width: 82%;
  }
  
  .my-masonry-grid_column {
    padding-left: 14px; /* Ajusta el relleno a tus necesidades */
    background-clip: padding-box;
  }